body{
    margin: 0px;
}

.container{
    height: 100vh;
    padding: 0em 2.5em;
    font-family: "Roboto", sans-serif;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 0.7fr;
    grid-gap: 2.5em 2.5em;
    grid-template-areas:
        "logo navbar"
        "intro intro"
        "switches-heading switches-heading"
        "switches switches";
}

.logo{
    grid-area: logo;
}

.logo h1{
    font-size: 3rem;
    text-align: right;
    margin-bottom: 0em;
}

.logo p{
    text-align: right;
}

#logo-asterisk{
    display: inline-block;
    color: rgb(133, 235, 143);
}

.navbar{
    grid-area: navbar;
    border-bottom: 0.2em solid rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    font-size: 1.4rem;
}

.nav-links li a{
    text-decoration: none;
    padding: 0em 2em 0em 1em;
}

.nav-links li a:link{
    color: rgb(0, 0, 0);
}

.nav-links li a:visited{
    color: rgb(0, 0, 0);
}

.nav-links li a:hover{
    color: rgb(133, 235, 143);
}

.intro{
    grid-area: intro;
    background-color: rgba(255, 255, 255, 0.15) !important;
    background-image: url("HomeScreenBanner.png");
    background-blend-mode: color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.5em gray;
}

.intro h2{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    padding-right: 0.5em;
}

.intro a{
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.intro a:link{
    color: rgb(133, 235, 143);
}

.intro a:visited{
    color: rgb(133, 235, 143);
}

.intro a:hover{
    color: rgb(255, 255, 255);
}

.switches-heading{
    grid-area: switches-heading;
}

.switches-heading h2{
    text-align: center;
    font-size: 1.8rem;
    margin: 0em;
}

.switches{
    grid-area: switches;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.switches .clicky{
    height: 13em;
    width: 13em;
    background: rgb(235, 235, 235);
    text-align: center;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    margin:0em 3em;
    box-shadow: 0em 0em 0.2em gray;
}

.switches .tactile{
    height: 13em;
    width: 13em;
    background: rgb(235, 235, 235);
    text-align: center;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    margin:0em 3em;
    box-shadow: 0em 0em 0.2em gray;
}

.switches .linear{
    height: 13em;
    width: 13em;
    background: rgb(235, 235, 235);
    text-align: center;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    margin:0em 3em;
    box-shadow: 0em 0em 0.2em gray;
}

.switches .clicky button{
    height: 2.5em;
    width: 4em;
    background-color: rgb(152, 162, 255);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    align-self: center;
    margin-top: 1.8em;
    box-shadow: 0em 0em  gray;
    color: white;
    text-decoration: none;
    font-weight: 600;

    transition: 0.2s ease;
    cursor: pointer;
}

.switches .clicky button:hover{
    transform: scale(1.05);
}

.switches .tactile button{
    height: 2.5em;
    width: 4em;
    background-color: rgb(255, 175, 100);
    border: none;
    border-radius: 0.5em;
    align-self: center;
    text-decoration: none;
    margin-top: 1.8em;
    box-shadow: 0em 0em 0.2em gray;
    color: white;
    text-decoration: none;
    font-weight: 600;

    transition: 0.2s ease;
    cursor: pointer;
}

.switches .tactile button:hover{
    transform: scale(1.05);
}

.switches .linear button{
    height: 2.5em;
    width: 4em;
    background-color: rgb(255, 134, 134);
    border: none;
    border-radius: 0.5em;
    align-self: center;
    text-decoration: none;
    margin-top: 1.8em;
    box-shadow: 0em 0em 0.2em gray;
    color: white;
    text-decoration: none;
    font-weight: 600;

    transition: 0.2s ease;
    cursor: pointer;
}

.switches .linear button:hover{
    transform: scale(1.05);
}

.switches .clicky h1{
    font-size: 1.5rem;
    color: rgb(152, 162, 255);
}

.switches .tactile h1{
    font-size: 1.5rem;
    color: rgb(255, 175, 100);
}

.switches .linear h1{
    font-size: 1.5rem;
    color: rgb(255, 134, 134);
}

